		<main>
        <div   >
        {{userid}}
             <table >
              <thead>
                 <tr>
                    <th data-field="name">user name </th>
                    <th data-field="online">ONLINE/OFFLINE</th>
                    <th data-field="Connect" >Connect</th>

                </tr>
            </thead>
            <tbody>
               <tr ng-repeat="(name, online) in usersonline"  >

                <td><a ng-click="userhome(name)">{{name}}</a></td>
                <td>{{online}}</td>
                <td><button ng-click="redirect(name)">Click</button></td>
            </tr>
        </tbody>
    </table>    
</div>
</main>